.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }






body {
    background: #bf393a;
    padding: 50px;
}

/* The animation code */
@keyframes wave {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(60deg);}
  100% {transform: rotate(00deg);}
}

/* The element to apply the animation to */
#arm {
  transform-origin: 70% 53%;
  animation-name: wave;
  animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 640px) {
 
    h2 {
        font-size: 18px;
    }
    
    svg {
    width: 250px;
        height: 250px;
}
}