<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %> <!-- HTML header inserted as partial with JS -->
</head>

<body>


    <center>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve" data-toggle="popover" data-content="Your luck is granted." style="cursor:pointer;">
            <g>
	<path fill="#E5A951" d="M722.917,527.089H603.384H483.847c0,0-176.994,135.624-176.994,326.396
		c0,190.81,182.73,206.883,296.531,206.883c113.799,0,296.535-16.073,296.535-206.883
		C899.919,662.713,722.917,527.089,722.917,527.089z"/>
	<path fill="#FFC05A" d="M722.917,527.089H603.384H483.847c0,0-149.992,115.062-173.725,282.261
		c24.594,152.14,188.23,165.961,293.262,165.961c105.043,0,268.667-13.821,293.268-165.961
		C872.914,642.15,722.917,527.089,722.917,527.089z"/>
	<path fill="#E5A951" d="M436.021,724.133c-60.319-8.53-121.064,63.697-135.701,161.357
		c-14.646,97.646,22.357,183.738,82.666,192.278c60.311,8.54,121.041-63.712,135.705-161.361
		C533.334,818.752,496.308,732.679,436.021,724.133z"/>
	<path fill="#FFC05A" d="M511.22,1051.736c0,31.424-34.74,56.886-77.585,56.886s-77.581-25.462-77.581-56.886
		c0-31.429,34.736-56.883,77.581-56.883S511.22,1020.308,511.22,1051.736z"/>
	<path fill="#FFC05A" d="M612.458,1044.924c8.371,35.2-15.718,63.698-53.781,63.698l0,0c-38.104,0-75.766-28.498-84.127-63.698
		l-68.988-289.803c-8.396-35.17,15.695-63.685,53.771-63.685l0,0c38.095,0,75.767,28.515,84.14,63.685L612.458,1044.924z"/>
	
	<g id="arm">
	    <path fill="#FFC05A" d="M806.096,343.686c4.897-37.78,39.47-64.433,77.229-59.53l0,0c37.771,4.889,64.43,39.478,59.536,77.224
		l-40.294,311.172c-4.897,37.776-39.477,64.442-77.238,59.533l0,0c-37.767-4.892-64.42-39.471-59.524-77.248L806.096,343.686z"/>
	<path fill="#FFC05A" d="M799.095,330.603c4.02-31.156,41.746-51.947,84.23-46.447c42.483,5.503,73.663,35.219,69.623,66.375
		c-4.024,31.166-41.748,51.964-84.223,46.454C826.228,391.492,795.052,361.769,799.095,330.603z"/>
	</g>
	<path fill="#E5A951" d="M858.348,299.386c30.759,156.961-76.409,330.003-243.987,362.827
		c-167.569,32.813-332.09-86.995-362.841-243.971c-30.741-156.988,89.176-264.848,256.768-297.648
		C675.856,87.77,827.6,142.412,858.348,299.386z"/>
	    <path fill="#FFC05A" d="M798.558,290.226c27.389,139.802-68.061,293.871-217.287,323.117
		c-149.249,29.233-295.756-77.465-323.132-217.271c-27.396-139.801,79.402-235.85,228.649-265.076
		C636.03,101.763,771.177,150.421,798.558,290.226z"/>
	<g>
		<g>
			<path fill="#FFC05A" d="M420.692,151.495l-108.625-19.465c-28.51-5.101-47.256,13.822-41.882,42.259l20.44,108.458
				L420.692,151.495z"/>
			<path fill="#FF6464" d="M391.831,180.614l-53.505-9.586c-19.659-3.52-32.603,9.553-28.881,29.169l10.055,53.417L391.831,180.614z
				"/>
		</g>
		<g>
			<path fill="#E5A951" d="M601.056,116.161l93.269-59.007c24.46-15.473,48.955-5.017,54.727,23.334l21.985,108.159L601.056,116.161
				z"/>
			<path fill="#FF6464" d="M638.777,132.251l45.952-29.052c16.874-10.694,33.781-3.463,37.74,16.1l10.83,53.279L638.777,132.251z"/>
		</g>
	</g>
	<path fill="#FF6464" d="M652.357,367.715c-2.938-0.705-5.925,1.124-6.627,4.087c-4.221,17.982-16.483,31.022-31.94,34.063
		c-21.566,4.218-43.231-11.936-50.807-36.696c9.623-4.59,15.342-15.214,13.193-26.173c-2.537-12.932-15.08-21.371-28.021-18.854
		c-12.95,2.554-21.394,15.09-18.85,28.049c2.147,10.936,11.442,18.626,22.089,19.22c2.316,25.811-11.623,48.961-33.194,53.176
		c-15.492,3.029-31.731-4.443-42.431-19.503c-1.758-2.473-5.215-3.057-7.704-1.281c-2.474,1.765-3.054,5.204-1.3,7.69
		c13.262,18.62,33.774,27.78,53.547,23.901c21.01-4.11,36.342-21.995,40.936-44.407c12.688,19.022,33.642,29.808,54.646,25.684
		c19.783-3.859,35.328-20.097,40.576-42.333C657.152,371.366,655.318,368.39,652.357,367.715z"/>
	<g>
		<g>
			<path fill="#3F3A69" d="M358.759,336.247c-1.786,0.353-3.698-0.01-5.309-1.124c-3.117-2.205-3.84-6.52-1.642-9.617
				c25.848-36.431,77.5-46.558,115.174-22.573c3.22,2.05,4.163,6.325,2.126,9.546c-2.053,3.198-6.334,4.131-9.546,2.09
				c-31.568-20.096-74.853-11.606-96.497,18.929C362.001,334.972,360.44,335.932,358.759,336.247z"/>
			<path fill="#3F3A69" d="M728.106,263.925c-1.672,0.319-3.473,0.03-5.029-0.953c-31.57-20.11-74.87-11.63-96.5,18.898
				c-2.186,3.09-6.514,3.825-9.613,1.634c-3.118-2.208-3.836-6.513-1.638-9.614c25.84-36.417,77.5-46.524,115.148-22.556
				c3.217,2.05,4.179,6.302,2.128,9.517C731.534,262.499,729.907,263.563,728.106,263.925z"/>
		</g>
		<g>
			<g>
				<path fill="#3F3A69" d="M324.754,404.556c-15.091,2.953-30.941,2.262-45.565-2.303c-3.252-1.013-5.043-4.456-4.05-7.697
					c1.031-3.241,4.464-5.026,7.709-4.036c21.082,6.587,45.068,3.889,64.126-7.175c2.948-1.701,6.72-0.711,8.405,2.231
					c1.696,2.937,0.716,6.675-2.237,8.386C344.384,399.063,334.726,402.599,324.754,404.556z"/>
				<path fill="#3F3A69" d="M315.977,453.606c-8.925,1.734-18.074,2.175-27.082,1.245c-3.37-0.355-5.816-3.373-5.455-6.762
					c0.341-3.365,3.36-5.812,6.75-5.449c21.933,2.299,44.925-5.033,61.469-19.65c2.557-2.248,6.419-2.01,8.657,0.544
					c2.263,2.517,2.027,6.43-0.522,8.65C347.516,443.029,332.118,450.432,315.977,453.606z"/>
				<path fill="#3F3A69" d="M336.911,492.645c-5.372,1.047-10.805,1.617-16.247,1.682c-3.393,0.033-6.171-2.675-6.216-6.063
					c-0.02-3.402,2.635-6.208,6.07-6.208c22.092-0.245,44.064-10.19,58.807-26.644c2.28-2.526,6.157-2.717,8.666-0.463
					c2.518,2.259,2.743,6.151,0.479,8.668C375.089,478.502,356.581,488.793,336.911,492.645z"/>
			</g>
			<g>
				<path fill="#3F3A69" d="M785.372,314.335c15.098-2.953,29.511-9.583,41.34-19.341c2.597-2.145,2.982-6.013,0.828-8.637
					c-2.184-2.614-6.03-2.963-8.654-0.829c-17.023,14.056-40.244,20.606-62.097,17.542c-3.38-0.457-6.476,1.886-6.95,5.238
					c-0.47,3.372,1.867,6.449,5.238,6.929C765.093,316.644,775.393,316.292,785.372,314.335z"/>
				<path fill="#3F3A69" d="M811.989,356.44c8.913-1.745,17.568-4.771,25.557-9.053c2.977-1.587,4.133-5.325,2.518-8.302
					c-1.604-2.99-5.313-4.12-8.309-2.516c-19.441,10.412-43.516,12.281-64.367,4.989c-3.184-1.134-6.689,0.574-7.799,3.765
					c-1.134,3.208,0.547,6.714,3.752,7.818C778.815,358.564,795.862,359.604,811.989,356.44z"/>
				<path fill="#3F3A69" d="M807.341,400.519c5.361-1.063,10.613-2.597,15.689-4.594c3.146-1.255,4.697-4.814,3.45-7.97
					c-1.263-3.157-4.774-4.728-7.977-3.442c-20.523,8.107-44.64,7.178-64.479-2.5c-3.063-1.46-6.728-0.201-8.216,2.85
					c-1.473,3.063-0.203,6.73,2.825,8.214C766.638,401.827,787.671,404.354,807.341,400.519z"/>
			</g>
		</g>
	</g>
	<g>
		<path fill="#FF6464" d="M774.63,622.47c0,8.554-3.433,16.983-9.001,23.624c-5.567,6.619-13.294,11.445-21.827,12.817
			c-12.464,2.003-24.391,3.729-35.888,5.184c-11.468,1.447-22.515,2.668-33.183,3.688c-10.693,1.02-21.02,1.849-31.094,2.517
			c-10.074,0.685-19.916,1.215-29.586,1.598c-9.671,0.368-19.191,0.637-28.65,0.745c-9.49,0.12-18.895,0.12-28.367,0
			c-9.463-0.108-19.003-0.377-28.674-0.745c-9.703-0.383-19.488-0.913-29.576-1.598c-10.082-0.668-20.42-1.497-31.111-2.517
			c-10.68-1.021-21.7-2.241-33.188-3.688c-11.487-1.455-23.411-3.181-35.896-5.184c-8.512-1.372-16.232-6.198-21.818-12.817
			c-5.565-6.641-8.998-15.07-8.998-23.624l0,0c0-8.56,3.433-15.649,8.998-20.254c5.586-4.601,13.307-6.734,21.818-5.375
			c12.485,2.02,24.401,3.728,35.871,5.177c11.503,1.46,22.533,2.686,33.213,3.695c10.691,1.023,21.029,1.858,31.111,2.53
			c10.088,0.681,19.873,1.194,29.576,1.59c9.671,0.386,19.211,0.621,28.674,0.748c9.473,0.128,18.877,0.128,28.367,0
			c9.472-0.127,18.979-0.362,28.657-0.748c9.683-0.396,19.491-0.909,29.579-1.59c10.074-0.672,20.4-1.507,31.094-2.53
			c10.688-1.01,21.715-2.235,33.183-3.695c11.497-1.449,23.424-3.157,35.888-5.177c8.533-1.359,16.26,0.774,21.827,5.375
			C771.197,606.82,774.63,613.91,774.63,622.47L774.63,622.47z"/>
	</g>
	<path fill="#E5A951" d="M902.445,885.49c-14.634-97.66-75.386-169.888-135.715-161.357c-60.294,8.546-97.296,94.619-82.664,192.274
		c14.653,97.649,75.397,169.901,135.712,161.361C880.088,1069.229,917.089,983.136,902.445,885.49z"/>
	<path fill="#FFC05A" d="M691.544,1051.736c0,31.424,34.732,56.886,77.58,56.886c42.846,0,77.576-25.462,77.576-56.886
		c0-31.429-34.73-56.883-77.576-56.883C726.276,994.854,691.544,1020.308,691.544,1051.736z"/>
	<path fill="#FFC05A" d="M640.503,1093.106c0,31.425-34.717,56.894-77.572,56.894c-42.84,0-77.588-25.469-77.588-56.894
		c0-31.407,34.748-56.893,77.588-56.893C605.786,1036.214,640.503,1061.699,640.503,1093.106z"/>
	<g>
		<path fill="#C6BDB0" d="M647.06,734.136c0,41.9-33.965,75.868-75.852,75.868c-41.891,0-75.858-33.968-75.858-75.868
			c0-41.891,33.968-75.855,75.858-75.855C613.095,658.28,647.06,692.245,647.06,734.136z"/>
		<path fill="#FFF8EE" d="M647.06,722.659c0,41.897-33.965,75.862-75.852,75.862c-41.891,0-75.858-33.965-75.858-75.862
			c0-41.894,33.968-75.842,75.858-75.842C613.095,646.817,647.06,680.766,647.06,722.659z"/>
	</g>
</g>
</svg>

        <h2 style="color: #ffffff;">Touch the Cat's belly for 24 hours of luck.</h2>

        <h2 style="color: #ffffff;">Sign up for 10,000 years of luck!!!</h2>

        <br>

        <a href="/form?SubKey=00Q1U000004P9W9UAK" class="btn" style="background: rgb(255, 192, 90); color: #ffffff; text-transform: uppercase; font-size: 18px; font-weight: bold; padding: 10px 24px;">Make My Luck Eternal</a>

    </center>

</body>

<!-- Bootstrap component for popover effect: using jQuery selector to enable Bootstrap functionn -->
<script>
    $(function() {
        $('[data-toggle="popover"]').popover()
    })
</script>

</html>